.imagen-stock-mas{
    width:32px;
    height:32px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(301deg) brightness(105%) contrast(101%);
}
.imagen-producto{
    width:150px;
    height:148px;
    align-self: center;
}
.imagen-compra{
    width:58px;
    height:48px;
    align-self: center;
    margin-top: 100%;
    filter: invert(47%) sepia(13%) saturate(7389%) hue-rotate(204deg) brightness(100%) contrast(90%);
}
.imagen-compra:hover{
    filter: invert(18%) sepia(11%) saturate(6781%) hue-rotate(188deg) brightness(93%) contrast(91%);
}
.imagen-favorito{
    width:48px;
    height:48px;
    filter: invert(47%) sepia(13%) saturate(7389%) hue-rotate(204deg) brightness(100%) contrast(90%);
}
.scroll-alto{
    height:36%;
}
.scroll-alto::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
.scroll-alto::-webkit-scrollbar-thumb {
    background-color: #193A65 ;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
body{
    overflow:hidden;
}
.box-shadow-compra-inventario{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #E8EBF0;
    border-radius: 10px;
    height: 100%;    
}
.alto-compra-inventario{
    height: 100%;
}
.alto-compra-inventario a{
    height: 18%;
}
.mr-2{
    margin-right: 0.5rem !important;
}
.lista-compra{
    height: 37%;
    border: 1px solid #193A65;
}